<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <p class="brand-link" data-widget="pushmenu">
        <span class="brand-text font-weight-light">SideMenu</span>
        <i class="right fas fa-angle-double-left" style="position: absolute;right: 1rem;top: 1.1rem;"></i>
    </p>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu"
                data-accordion="false">
                <li class="nav-item">
                    <a href="{% url 'my_apps:top_page' %}"
                        class="nav-link {% if request.path == '/my_apps/top' %}active{% endif %} ">
                        <i class="nav-icon fas fa-desktop"></i>
                        <p>
                            トップページ
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'my_apps:about_page' %}"
                        class="nav-link {% if request.path == '' %}active{% endif %} ">
                        <i class="nav-icon far fa-address-card"></i>
                        <p>
                            私について
                        </p>
                    </a>
                </li>
                <!-- -------------------------------- -->
                <li class="nav-header">ツール</li>
                <li class="nav-item">
                    <a href="{% url 'my_apps:const_search_page' %}"
                        class="nav-link {% if request.path == '/my_apps/const_search' %}active{% endif %} ">
                        <i class="nav-icon fas fa-search"></i>
                        <p>クイック定数検索</p>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a href="{% url 'my_apps:incomplete_page' %}"
                        class="nav-link {% if request.path == '' %}active{% endif %} ">
                        <i class="nav-icon far fa-question-circle"></i>
                        <p>BPMチェッカー</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'my_apps:incomplete_page' %}"
                        class="nav-link {% if request.path == '' %}active{% endif %}">
                        <i class="nav-icon far fa-question-circle"></i>
                        <p>定数別OP表示</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'my_apps:incomplete_page' %}"
                        class="nav-link {% if request.path == '' %}active{% endif %}">
                        <i class="nav-icon far fa-question-circle"></i>
                        <p>これって何落ちAJ？</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'my_apps:incomplete_page' %}"
                        class="nav-link {% if request.path == '' %}active{% endif %}">
                        <i class="nav-icon far fa-question-circle"></i>
                        <p>新曲枠なんてねーよ</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'my_apps:incomplete_page' %}"
                        class="nav-link {% if request.path == '' %}active{% endif %}">
                        <i class="nav-icon far fa-question-circle"></i>
                        <p>FULL BELLだったら？</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'my_apps:incomplete_page' %}"
                        class="nav-link {% if request.path == '' %}active{% endif %}">
                        <i class="nav-icon far fa-question-circle"></i>
                        <p>BS/OD計算機</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'my_apps:incomplete_page' %}"
                        class="nav-link {% if request.path == '' %}active{% endif %}">
                        <i class="nav-icon far fa-question-circle"></i>
                        <p>緑数字計算機</p>
                    </a>
                </li> -->
                <li class="nav-header">資料集</li>
                <li class="nav-item">
                    <a href="{% url 'my_apps:sega_nenpyo_page' %}"
                        class="nav-link {% if request.path == '' %}active{% endif %}">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p>SEGA音ゲー年表</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'my_apps:ongeki_genre_page' %}"
                        class="nav-link {% if request.path == '/my_apps/ongeki_genre' %}active{% endif %}">
                        <i class="nav-icon fas fa-book-open"></i>
                        <p>オンゲキジャンル名図鑑</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<style>
    .main-sidebar{
        width: 19rem;
    }
    .sidebar-collapse .main-sidebar{
        margin-left: -19rem;
    }
</style>
