.rights-info p {
    font-size: .8rem
}

/* -------------- */

.border-right-expert {
    border-right: 4px solid #cc3232;
}

.border-right-master {
    border-right: 4px solid #9932cc;
}

.border-right-ultima {
    border-right: 4px solid #160505;
}

.border-right-lunatic {
    border-right: 4px solid #b0b0b0;
}

.border-left-expert {
    border-left: 4px solid #cc3232;
}

.border-left-master {
    border-left: 4px solid #9932cc;
}

.border-left-ultima {
    border-left: 4px solid #160505;
}

.border-left-lunatic {
    border-left: 4px solid #b0b0b0;
}

.color-expert {
    color: #cc3232;
}

.color-master {
    color: #9932cc;
}

.color-ultima {
    color: #160505;
}

.color-lunatic {
    color: #b0b0b0;
}

/* -------------- */


.song-description:hover {
    background-color: initial;
}

@media screen and (max-width: 576px) {
    html {

        font-size: 75%;

    }
}
