<table class="table table-bordered">
    <tbody>
        <tr>
            <th scope="row">プレイヤー名</th>
            <td style="text-align: center;">{{name}}</td>
        </tr>
        <tr>
            <th scope="row">公式レーティング</th>
            <td style="text-align: center;">{{rating}}</td>
        </tr>
        {% comment %} <tr>
            <th scope="row">公式ベスト枠/新曲枠平均</th>
            <td style="text-align: center;">xx.xx / xx.xx</td>
        </tr> {% endcomment %}
        <tr>
            <th scope="row">計算結果(30枠)</th>
            <td style="text-align: center;">{{result_best_30}}</td>
        </tr>
        <tr>
            <th scope="row">計算結果(50枠)</th>
            <td style="text-align: center;">{{result_best_50}}</td>
        </tr>
        <tr>
            <th scope="row">計算結果(30枠旧基準)</th>
            <td style="text-align: center;">{{result_best_old_30}}</td>
        </tr>
        <tr>
            <th scope="row">計算結果(50枠旧基準)</th>
            <td style="text-align: center;">{{result_best_old_50}}</td>
        </tr>

    </tbody>
</table>
<p class="mb-3 text-center">
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="{{tweet_text}}"
        data-hashtags="CHUNITHM全曲対象ベスト枠" data-lang="ja" data-show-count="false">結果を投稿</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>
