{% extends '../base/base.html' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid pl-0">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">SEGA音ゲー年表</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            {% if is_beta %}
            {% include "../common/info_alert.html" %}
            {% endif %}

            <!-- ここにいろいろ書く -->
            <div class="row">
                <div class="col">
                    <div class="card card-primary card-outline">

                        <div class="card-header">
                            <h3 class="card-title">ゲキチュウマイの歴史</h3>
                        </div>

                        <div class="card-body">

                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                          <tr>
                                            <th scope="col">日付</th>
                                            <th scope="col">maimai</th>
                                            <th scope="col">CHUNITHM</th>
                                            <th scope="col">オンゲキ</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">2012/07/11</th>
                                            <td>無印</td>
                                            <td></td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2012/12/13</th>
                                            <td>無印 PLUS</td>
                                            <td></td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2013/07/11</th>
                                            <td>GreeN</td>
                                            <td></td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2014/01/31</th>
                                            <td>GreeN PLUS</td>
                                            <td></td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2014/09/18</th>
                                            <td>ORANGE</td>
                                            <td></td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2015/03/19</th>
                                            <td>ORANGE PLUS</td>
                                            <td></td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2015/07/16</th>
                                            <td>|</td>
                                            <td>無印</td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2015/12/09</th>
                                            <td>PiNK</td>
                                            <td>|</td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2016/02/04</th>
                                            <td>|</td>
                                            <td>無印 PLUS</td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2016/06/30</th>
                                            <td>PiNK PLUS</td>
                                            <td>|</td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2016/08/25</th>
                                            <td>|</td>
                                            <td>AIR</td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2016/12/15</th>
                                            <td>MURASAKi</td>
                                            <td>|</td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2017/02/09</th>
                                            <td>|</td>
                                            <td>AIR PLUS</td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2017/06/22</th>
                                            <td>MURASAKi PLUS</td>
                                            <td>|</td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2017/08/24</th>
                                            <td>|</td>
                                            <td>STAR</td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2017/12/14</th>
                                            <td>MiLK</td>
                                            <td>|</td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2018/03/08</th>
                                            <td>|</td>
                                            <td>STAR PLUS</td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2018/06/21</th>
                                            <td>MiLK PLUS</td>
                                            <td>|</td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2018/07/26</th>
                                            <td>|</td>
                                            <td>|</td>
                                            <td>無印</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2018/10/25</th>
                                            <td>|</td>
                                            <td>AMAZON</td>
                                            <td>|</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2018/12/13</th>
                                            <td>FiNALE</td>
                                            <td>|</td>
                                            <td>|</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2019/02/07</th>
                                            <td>|</td>
                                            <td>|</td>
                                            <td>無印 PLUS</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2019/04/11</th>
                                            <td>|</td>
                                            <td>AMAZON PLUS</td>
                                            <td>|</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2019/07/11</th>
                                            <td>でらっくす</td>
                                            <td>|</td>
                                            <td>|</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2019/08/22</th>
                                            <td>|</td>
                                            <td>|</td>
                                            <td>SUMMER</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2019/10/24</th>
                                            <td>|</td>
                                            <td>CRYSTAL</td>
                                            <td>|</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2020/01/23</th>
                                            <td>でらっくす PLUS</td>
                                            <td>|</td>
                                            <td>|</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2020/02/20</th>
                                            <td>|</td>
                                            <td>|</td>
                                            <td>SUMMER PLUS</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2020/07/16</th>
                                            <td>|</td>
                                            <td>CRYSTAL PLUS</td>
                                            <td>|</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2020/09/17</th>
                                            <td>Splash</td>
                                            <td>|</td>
                                            <td>|</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2020/09/30</th>
                                            <td>|</td>
                                            <td>|</td>
                                            <td>R.E.D.</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2021/01/21</th>
                                            <td>|</td>
                                            <td>PARADISE</td>
                                            <td>|</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2021/03/18</th>
                                            <td>Splash PLUS</td>
                                            <td>|</td>
                                            <td>|</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2021/03/31</th>
                                            <td>|</td>
                                            <td>|</td>
                                            <td>R.E.D. PLUS</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2021/05/13</th>
                                            <td>|</td>
                                            <td>PARADISE LOST</td>
                                            <td>|</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2021/09/16</th>
                                            <td>UNiVERSE</td>
                                            <td>|</td>
                                            <td>|</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2021/10/21</th>
                                            <td>|</td>
                                            <td>|</td>
                                            <td>bright</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2021/11/04</th>
                                            <td>|</td>
                                            <td>NEW</td>
                                            <td>|</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2022/03/03</th>
                                            <td>|</td>
                                            <td>|</td>
                                            <td>bright MEMORY</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2022/03/24</th>
                                            <td>UNiVERSE PLUS</td>
                                            <td>|</td>
                                            <td>|</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2022/04/14</th>
                                            <td>|</td>
                                            <td>NEW PLUS</td>
                                            <td>|</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2022/09/15</th>
                                            <td>FESTiVAL</td>
                                            <td>|</td>
                                            <td>|</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2022/10/13</th>
                                            <td>|</td>
                                            <td>SUN</td>
                                            <td>|</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2023/03/23</th>
                                            <td>FESTiVAL PLUS</td>
                                            <td>|</td>
                                            <td>|</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2023/05/11</th>
                                            <td>|</td>
                                            <td>SUN PLUS</td>
                                            <td>|</td>
                                          </tr>

                                        </tbody>
                                      </table>
                                </div>
                            </div>

                        </div>

                        <div class="card-footer">
                            <p class="mb-0 float-right fs-6 text-black-50">最終更新:2023/06/10</p>
                        </div>

                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

{% endblock content %}
