{% extends '../base/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'fullbell/style.css' %}">
<!-- Content Wrapper. Contains page content -->
<div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid pl-0">
            <div class="row mb-2">
                <div class="col">
                    <h1 class="m-0">FULL BELLだったら？</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            {% if is_beta %}
            {% include "../common/info_alert.html" %}
            {% endif %}

            <!-- ここにいろいろ書く -->
            <div class="row">
                <div class="col">
                    <div class="card card-primary card-outline">

                        <div class="card-header">
                            <h3 class="card-title">FULL BELLだったら鳥なのに</h3>
                        </div>

                        <div class="card-body">

                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <div class="row mb-3 justify-content-center align-items-center">

                                        <div class="col-auto">
                                            <p class="mb-0">BELL : </p>
                                        </div>
                                        <div class="col-auto">
                                            <input type="text" class="form-control bell-input text-center"
                                                placeholder="獲得数" value="193" id="get_bell_count" />
                                        </div>
                                        <div class="col-auto">
                                            <p class="mb-0">/</p>
                                        </div>
                                        <div class="col-auto">
                                            <input type="text" class="form-control bell-input text-center"
                                                placeholder="総数" value="200" id="all_bell_count" />
                                        </div>

                                    </div>

                                    <div class="row mb-3 justify-content-center align-items-center">

                                        <div class="col-auto">
                                            <p class="mb-0">TECHNICAL SCORE : </p>
                                        </div>
                                        <div class="col-auto">
                                            <input type="text" class="form-control score-input text-center"
                                                placeholder="" value="998158" id="technical_score" />
                                        </div>

                                    </div>

                                    <div class="row mb-3 justify-content-center align-items-center">

                                        <div class="col-auto">
                                            <button type="button" id="calc_button" class="btn btn-outline-primary">FULL
                                                BELLだったら…</button>
                                        </div>

                                    </div>
                                    <div id="alert-error" class="row justify-content-center align-items-center">

                                        <div class="col-8">
                                            <div class="alert alert-danger mb-0">
                                                <h5>
                                                    <i class="icon fas fa-exclamation"></i>
                                                    Error!
                                                </h5>
                                                <p id="error_message" class="mb-0">エラーメッセージ</p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row mb-3 pt-3 justify-content-center align-items-center">

                                        <div class="col-auto">
                                            <h5 class="mb-2 text-center">TECHNICAL SCORE(理想)</h5>
                                            <h2 class="mb-0 text-center"><span id="result-hi"></span><span
                                                    id="result-lo">-</span></h2>
                                        </div>

                                    </div>

                                    <div class="row mb-3 pt-3 justify-content-center align-items-center">
                                        <div class="col-auto">
                                            <ul class="list-unstyled">
                                                <li id="to_sss">SSSまで : - → -</li>
                                                <li id="to_sssp">SSS+まで : - → -</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="row mb-3 justify-content-center align-items-center">
                                        <div class="col-auto">
                                            <div class="btn-group">

                                                <button id="tweet" class="btn btn-outline-info" type="button" disabled>
                                                    <i class="pr-2 fab fa-twitter"></i>
                                                    懺悔ツイート
                                                </button>
                                                <button id="tweet-copy" class="btn btn-outline-secondary" type="button"
                                                    disabled>
                                                    <i class="pr-2 fas fa-copy"></i>
                                                    懺悔コピペ
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3 justify-content-center align-items-center">
                                        <div class="col">
                                            <button id="detail-button" class="btn btn-link btn-block" type="button"
                                                data-toggle="collapse" data-target="#collapseExample"
                                                aria-expanded="false" aria-controls="collapseExample">
                                                詳細情報
                                                <i class="pl-2 fas fa-chevron-down"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row mb-3 justify-content-center align-items-center">
                                        <div class="col-auto">
                                            <div class="collapse" id="collapseExample">
                                                <ul class="list-unstyled">
                                                    <li id="score_minus_bell">ベルによる合計失点 : -</li>
                                                    <li id="score_one_bell">ベル1つあたりの配点 : -</li>
                                                </ul>
                                                <ul class="list-unstyled">
                                                    <li id="score_bell">ベルによるスコア : - / 60000 ( MAX- - | -%)</li>
                                                    <li id="score_notes">ノーツによるスコア : - / 950000 ( MAX- - | -%)</li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'fullbell/script.js' %}"></script>
{% endblock content %}
