{% extends '../base/base.html' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid pl-0">
            <div class="row mb-2">
                <div class="col">
                    <h1 class="m-0">更新情報</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <!-- ここにいろいろ書く -->
            <div class="row">
                <div class="col">
                    <div class="card card-primary card-outline">

                        <div class="card-header">
                            <h3 class="card-title">アップデートの記録</h3>
                        </div>

                        <div class="card-body">

                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <h4>2023/11/1</h4>
                                    <ul>
                                        <li><span class="font-weight-bold">クイック定数検索:</span> 検索ワード未入力時に新曲(2週間以内に追加された楽曲)を表示するようになりました。</li>
                                        <li><span class="font-weight-bold">クイック定数検索:</span> 曲名や曲名＆アーティスト名をコピーするボタンを実装しました。</li>
                                    </ul>
                                    <h4>2023/10/19</h4>
                                    <ul>
                                        <li><span class="font-weight-bold">クイック定数検索:</span> 検索時の通信ステータスを表示するようになりました。↑n↓m(-l)の形式で、nは送信数・mは受信数・lは無効になった通信数です。</li>
                                        <li><span class="font-weight-bold">クイック定数検索:</span> 譜面画像リンクの横に難易度カラーの四角形を追加しました。</li>
                                        <li><span class="font-weight-bold">クイック定数検索:</span> 攻略wikiへのリンクを張りました。</li>
                                        <li><span class="font-weight-bold">オンゲキジャンル名図鑑:</span> 「Hybrid SpeedSamba」を追加しました。</li>
                                        <li><span class="font-weight-bold">オンゲキジャンル名図鑑:</span> ソースを外部参照化して変更しやすくしました。</li>
                                    </ul>
                                    <h4>2023/10/02</h4>
                                    <ul>
                                        <li><span class="font-weight-bold">クイック定数検索:</span> アクセス時に表示される情報を軽量化しました。どれほど読み込みが早くなるかはわかりませんが…</li>
                                        <li><span class="font-weight-bold">クイック定数検索:</span> 連続で検索リクエストが送られた際、先に送ったリクエストがその後に送ったリクエストよりも遅くレスポンスが帰ってきてしまった場合に、そのレスポンスを破棄するようになりました。</li>
                                    </ul>
                                    <h4>2023/09/15</h4>
                                    <ul>
                                        <li><span class="font-weight-bold">クイック定数検索:</span> 著作権情報をアクセス時に問い合わせる仕様から、定数情報の自動更新と同時に問い合わせて更新する仕様に変更しました。これにより、クイック定数検索ページの読み込みが少し早くなりました。</li>
                                        <li><span class="font-weight-bold">オンゲキジャンル名図鑑:</span> 「Bibliophilia」を追加しました。</li>
                                        <li><span class="font-weight-bold">SEGA音ゲー年表:</span> maimai BUDDiESの稼働開始を反映しました。</li>
                                    </ul>
                                    <h4>2023/08/31</h4>
                                    <ul>
                                        <li>全ページのtitleに「△Natua♪▽のツールとか保管所」を追加しました。</li>
                                    </ul>
                                    <h4>2023/08/25</h4>
                                    <ul>
                                        <li>更新情報ページ(このページ)を作りました。nav-bar(上のバー)も更新しました。</li>
                                        <li><span class="font-weight-bold">クイック定数検索:</span> 定数情報の更新時、譜面保管所の楽曲ID(？)も一緒に取得するようにしました。(一部、曲データとの対応付けができていないため、楽曲IDが使用できない楽曲があります。)</li>
                                        <li><span class="font-weight-bold">クイック定数検索:</span> 検索結果から譜面画像に飛べるようになりました。</li>
                                    </ul>
                                    <h4>2023/08/24</h4>
                                    <ul>
                                        <li><span class="font-weight-bold">クイック定数検索:</span> 定数情報の自動更新に対応しました。</li>
                                        <li><span class="font-weight-bold">クイック定数検索:</span> ボタンの位置を若干変更しました。</li>
                                        <li><span class="font-weight-bold">オンゲキジャンル名図鑑:</span> 「Ai」と「モンスターJKロック」を追加しました。</li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div class="card-footer">
                            <p class="mb-0 float-right fs-6 text-black-50">日付はだいたいです。</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card card-primary card-outline">

                        <div class="card-header">
                            <h3 class="card-title">既知の不具合とか</h3>
                        </div>

                        <div class="card-body">

                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <h4>クイック定数検索</h4>
                                    <ul>
                                        <li>曲名の読み検索が使えない。(そもそも実装する気はあるのか)</li>
                                        <li>一部のEXPERTなど、用意されていない譜面画像にもリンクを貼ってしまっている。</li>
                                        <li>譜面画像に飛べない楽曲がある。</li>
                                        <li>オンゲキ LUNATIC レベル0がNo Data扱いになる。</li>
                                        <li>オンゲキ LUNATIC専用曲のMASTER譜面・EXPERT譜面のリンクが無効になっていない。</li>
                                        <li>オンゲキ 楽曲「Singularity」が1曲しか表示されない。</li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div class="card-footer">
                            <p class="mb-0 float-right fs-6 text-black-50">・ω・ｶﾞﾝﾊﾞﾙ</p>
                        </div>

                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<style>
li {
    padding-bottom: 0.3rem;
}
</style>
{% endblock content %}
