{% extends '../base/base.html' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid pl-0">
            <div class="row mb-2">
                <div class="col">
                    <h1 class="m-0">オンゲキジャンル名図鑑</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            {% if is_beta %}
            {% include "../common/info_alert.html" %}
            {% endif %}

            <!-- ここにいろいろ書く -->
            <div class="row">
                <div class="col">
                    <div class="card card-primary card-outline">

                        <div class="card-header">
                            <h3 class="card-title">オンゲキジャンル名図鑑</h3>

                            <div class="card-tools">
                                <div class="align-right form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="hide-songtitle" value="option1">
                                    <label class="form-check-label" for="hide-songtitle">曲名を非表示にする</label>
                                </div>
                            </div>

                        </div>

                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="col-12 col-md-10">

                                    <ul class="list-group">

                                        {% for e in genre_data %}
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col">
                                                    <h4 class="mb-2 mt-2 text-center">{{e.0}}</h4>
                                                    <p class="mb-1 text-secondary text-center songtitle">{{e.1}}</p>
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <p class="mb-0 float-right fs-6 text-black-50">情報元: オンゲキ攻略wiki　最終更新: {{updated_date}}</p>
                        </div>

                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $("#hide-songtitle").change(function () {
        if ($("#hide-songtitle").prop("checked") == true) {
            $(".songtitle").css("display", "none");
        }
        else {
            $(".songtitle").css("display", "");
        }
    });
</script>
{% endblock content %}
