<table class="table table-bordered">
    <tbody>
        <tr>
            <th scope="row">プレイヤー名</th>
            <td style="text-align: center;">{{name}}</td>
        </tr>
        <tr>
            <th scope="row">公式レーティング</th>
            <td style="text-align: center;">{{rating}} / {{max_rating}}</td>
        </tr>
        <tr>
            <th scope="row">計算結果[BEST]</th>
            <td style="text-align: center;">{{result_best}}</td>
        </tr>
        <tr>
            <th scope="row">計算結果[REACHABLE]</th>
            <td style="text-align: center;">{{result_reachable}}</td>
        </tr>
    </tbody>
</table>
