{% extends '../base/base.html' %}
{% load static %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid pl-0">
            <div class="row mb-2">
                <div class="col">
                    <h1 class="m-0">雑多なツール集</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            {% if is_beta %}
            {% include "../common/info_alert.html" %}
            {% endif %}

            <!-- ここにいろいろ書く -->
            <div class="row">
                <div class="col">
                    <div class="card card-primary card-outline">

                        <div class="card-header">
                            <h3 class="card-title">アプリ名</h3>
                        </div>

                        <div class="card-body">

                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <p>ほげほげ <i id="loading_text" style="display: none;"
                                        class="ml-2 fas fa-spinner fa-pulse"></i></p>
                                    <form id="ajax-search" action="{% url 'my_apps:random_tools_page' %}" method="POST">
                                        {% csrf_token %}
                                        <input name="query" type="text" class="form-control" id="query"
                                            placeholder="入力" aria-label="search" aria-describedby="inputHelp"
                                            autocomplete="off">
                                    </form>
                                </div>
                            </div>

                        </div>

                        <div class="card-footer">
                            <p class="mb-0 float-right fs-6 text-black-50">なにかしら書く</p>
                        </div>

                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<script>
    var csrfmiddlewaretoken = "{{ csrf_token }}"
    var send_url = '{% url "my_apps:random_tools_page" %}'
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'random_tools/script.js' %}"></script>
{% endblock content %}
