{% extends '../base/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'ongeki_op/style.css' %}">
<!-- Content Wrapper. Contains page content -->
<div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid pl-0">
            <div class="row mb-2">
                <div class="col">
                    <h1 class="m-0">オンゲキ版OVERPOWER</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            {% if is_beta %}
            {% include "../common/info_alert.html" %}
            {% endif %}

            <!-- ここにいろいろ書く -->
            <div class="row">
                <div class="col">
                    <div class="card card-primary card-outline">

                        <div class="card-header">
                            <h3 class="card-title">O.N.G.E.K.I. POWER</h3>
                        </div>

                        <div class="card-body">

                            <div class="row justify-content-center">
                                <div class="col-12 col-md-10">

                                    <div class="row justify-content-center align-items-center mb-3">

                                    </div>
                                    <div class="row justify-content-center align-items-center mb-3">

                                        <div class="col-auto">
                                            <div class="input-group mb-1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">OngekiScoreLog ID</span>
                                                </div>
                                                <input type="text" class="form-control text-center" placeholder="xxxx"
                                                    value="" id="osl-id" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" type="button"
                                                        id="calc-button">実行</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row justify-content-center align-items-center">

                                        <div class="col-auto">
                                            <div class="form-group">
                                                <label for="classification">分類</label>
                                                <select class="form-control" id="classification">
                                                    <option value="1">ジャンル順</option>
                                                    <option value="2">バージョン順</option>
                                                    <option value="0">レベル順</option>
                                                    <option value="3">定数順</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="form-group">
                                                <label for="display-format">表示形式</label>
                                                <select class="form-control" id="display-format">
                                                    <option value="0">通常</option>
                                                    <option value="1">通常(FB割合非表示)</option>
                                                    <!-- <option value="2" disabled>スコアランク割合のみ一覧表示</option> -->
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-auto">
                                            <p>設定変更後は再度実行してください。</p>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-auto">
                                            <p><a href="#calc-details">計算式について ▼</a></p>
                                        </div>
                                    </div>

                                    <hr />

                                    <i id="loading-text" style="display: none;"
                                        class="ml-2 fas fa-spinner fa-pulse"></i>

                                    <!-- 概要 -->
                                    <div id="op_summary"></div>


                                    <!-- 個別 -->
                                    <hr />
                                    <div id="op_card"></div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card card-primary card-outline" id="calc-details">

                        <div class="card-header">
                            <h3 class="card-title">計算式について</h3>
                        </div>

                        <div class="card-body">

                            <div class="row justify-content-center">

                                <div class="col-12 col-md-10">
                                    <h4>O.N.G.E.K.I. POWERの計算</h4>
                                    <p>CHUNITHMのOPと同じ計算式を採用しています。<br>ただし、対象曲はMASTER譜面のみです。また、ボーナストラックは対象外です。</p>
                                    <p>各楽曲のMASTER譜面ごとに単曲OPを計算します。それらの総和がプレイヤーのOPとなります。</p>
                                    <p>単曲OPは以下の式で計算されます。<br>※ランプ補正: FC=0.5, AB=1.0, AB+=1.25</p>
                                    <p style="text-align:center;">単曲OP = min(譜面定数+2,単曲レート)*5 + ランプ補正 +
                                        max(0,(Tスコア-1007500)*0.0015) </p>
                                    <p>AB+達成時の単曲OPは (定数+3)*5 となり、これが単曲OPの最大値となります。</p>
                                    <h4 class="mt-4">プレイヤーOPの背景色について</h4>
                                    <p>背景色はOP値によってのみ決まります。CHUNITHMと違って、全曲ランク条件はありません。</p>
                                    <p>背景色はブロンズ/シルバー/ゴールド/プラチナ/レインボーの5種類です。 レインボー以外は同一色内で3つにランク分け(細分化)されています。</p>
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-auto">
                                            <table class="table table-sm table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="width: 10rem;">背景色・ランク</th>
                                                        <th scope="col" style="width: 10rem;">ボーダー</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Rainbow</td>
                                                        <td>99.6%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Platinum-3</td>
                                                        <td>99.2%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Platinum-2</td>
                                                        <td>98.8%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Platinum-1</td>
                                                        <td>98.5%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Gold-3</td>
                                                        <td>98.0%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Gold-2</td>
                                                        <td>97.5%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Gold-1</td>
                                                        <td>97.0%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Silver-3</td>
                                                        <td>96.5%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Silver-2</td>
                                                        <td>96.0%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Silver-1</td>
                                                        <td>95.5%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bronze-3</td>
                                                        <td>95.0%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bronze-2</td>
                                                        <td>94.0%</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bronze-1</td>
                                                        <td>93.0%</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
</div>

</div><!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<script>
    var csrfmiddlewaretoken = "{{ csrf_token }}"
    var send_url = '{% url "my_apps:ongeki_op_page" %}'
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'ongeki_op/script.js' %}"></script>
{% endblock content %}
