{% extends '../base/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'ongeki_op/style.css' %}">
<!-- Content Wrapper. Contains page content -->
<div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid pl-0">
            <div class="row mb-2">
                <div class="col">
                    <h1 class="m-0">オンゲキ版OVERPOWER</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            {% if is_beta %}
            {% include "../common/info_alert.html" %}
            {% endif %}

            <!-- ここにいろいろ書く -->
            <div class="row">
                <div class="col">
                    <div class="card card-primary card-outline">

                        <div class="card-header">
                            <h3 class="card-title">O.N.G.E.K.I. POWER</h3>
                        </div>

                        <div class="card-body">

                            <div class="row justify-content-center">
                                <div class="col-10">

                                    <div class="row mb-3 justify-content-center align-items-center">

                                        <div class="col-auto">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">OngekiScoreLog ID</span>
                                                </div>
                                                <input type="text" class="form-control text-center" placeholder="xxxx"
                                                    value="" id="osl-id" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" type="button"
                                                        id="calc-button">実行</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row mb-3 justify-content-center align-items-center">

                                        <div class="col-auto">
                                            <i id="loading-text" style="display: none;"
                                                class="ml-2 fas fa-spinner fa-pulse"></i>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
</div>

</div><!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<script>
    var csrfmiddlewaretoken = "{{ csrf_token }}"
    var send_url = '{% url "my_apps:ongeki_op_page" %}'
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'ongeki_op/script.js' %}"></script>
{% endblock content %}
