{% extends '../base/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'about/style.css' %}">
<!-- Content Wrapper. Contains page content -->
<div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid pl-0">
            <div class="row mb-2">
                <div class="col">
                    <h1 class="m-0">私について</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            {% if is_beta %}
            {% include "../common/info_alert.html" %}
            {% endif %}

            <!-- ここにいろいろ書く -->
            <div class="row">
                <div class="col">
                    <div class="card card-primary card-outline">

                        <div class="card-header">
                            <h3 class="card-title">△Natua♪▽って誰？</h3>
                        </div>

                        <div class="card-body">

                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <h4>基本情報</h4>
                                    <p><strong>HN:</strong> △Natua♪▽</p>
                                    <p><strong>読み:</strong> なちゅあ</p>
                                    <p><strong>大学:</strong> 京都S大学 (年度-2020)回生</p>
                                    <p><strong>所属:</strong> 京大音ゲーサークル「京音」</p>
                                    <p><strong>趣味:</strong> AC音ゲー・プログラミング・ブログ執筆</p>
                                    <p><strong>性別:</strong> 皆様非常に残念ですが、男です。</p>

                                    <hr>
                                    <h4>音ゲーについて</h4>
                                    <p><strong>メイン機種:</strong> CHUNITHM(16.95)・オンゲキ(16.55)</p>
                                    <p><strong>サブ機種:</strong> SDVX・maimai・弐寺・テトコネ</p>

                                    <hr>
                                    <h4>プログラミングについて</h4>
                                    <p><strong>普段使ってる言語:</strong> Python・JavaScript・(HTML+CSS)</p>
                                    <p><strong>書けはする言語:</strong> C・Java・R</p>

                                    <hr>
                                    <h4>ブログについて</h4>
                                    <p><strong>主なプラットフォーム:</strong> はてなブログ(個人・京音)</p>
                                    <p><strong>割と広まった記事:</strong>
                                    <ul class="ml-4">
                                        <li><a href="https://keionkakimasen.hatenadiary.com/entry/2023/02/01/200156"
                                                target="_blank"
                                                rel="noopener noreferrer">【CHUNITHM】キミはいくつ知っている？ウニの裏技・マイナー仕様15選！</a>
                                        </li>
                                        <li><a href="https://keionkakimasen.hatenadiary.com/entry/2022/11/12/190000"
                                                target="_blank"
                                                rel="noopener noreferrer">【beatmaniaIIDX】初心者の私がつまづいた仕様・システムを全部解説します</a>
                                        </li>
                                        <li><a href="https://natua.hatenadiary.jp/entry/20230409/1681037434"
                                                target="_blank"
                                                rel="noopener noreferrer">【オンゲキ】キャラゲー部分の解説＆おすすめカードとデッキの組み方紹介するよ</a></li>
                                    </ul>
                                    </p>
                                </div>
                            </div>

                        </div>

                        <div class="card-footer">
                            <p class="mb-0 float-right fs-6 text-black-50">最終更新:2023/05/27</p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="card card-primary card-outline" style="min-height:13rem;">

                        <div class="card-header">
                            <h3 class="card-title">リンク集</h3>
                        </div>

                        <div class="card-body">

                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <ul>
                                        <li><a href="https://twitter.com/natua_tcmm" target="_blank"
                                                rel="noopener noreferrer">Twitter(音ゲー垢)</a></li>
                                        <li><a href="https://natua.hatenadiary.jp" target="_blank"
                                                rel="noopener noreferrer">個人ブログ</a></li>
                                        <li><a href="https://github.com/natua-tcmm" target="_blank"
                                                rel="noopener noreferrer">GitHub</a></li>
                                        <li><a href="https://qiita.com/natua_tcmm" target="_blank"
                                                rel="noopener noreferrer">Qiita</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6" id="youbou">
                    <div class="card card-primary card-outline" style="min-height:13rem;">

                        <div class="card-header">
                            <h3 class="card-title">ご意見・ご要望</h3>
                        </div>

                        <div class="card-body">

                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <p>このツール集に関する意見や要望などがある場合は、Twitterもしくは<a
                                            href="https://marshmallow-qa.com/natua_tcmm?utm_medium=url_text&utm_source=promotion"
                                            target="_blank" rel="noopener noreferrer">こちらのマシュマロ</a>へお願いします。
                                        どんな些細なことでも構いません！</p>
                                    <p>参考:<a href="https://twitter.com/natua_tcmm/status/1661052431638347776"
                                            target="_blank" rel="noopener noreferrer">作ろうとしてるツール一覧(当時)</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<style>

</style>
{% endblock content %}
