{% extends '../base/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'const_search/style.css' %}">
<!-- Content Wrapper. Contains page content -->
<div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid pl-0">
            <div class="row mb-2">
                <div class="col">
                    <h1 class="m-0">クイック定数検索+</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            {% if is_beta %}
            {% include "../common/info_alert.html" %}
            {% endif %}

            <!-- ここにいろいろ書く -->
            <!-- 検索のカード -->
            <div class="row">
                <div class="col">
                    <div class="card card-primary card-outline">

                        <div class="card-header">
                            <h3 class="card-title"><span class="mr-3">クイック定数検索+</span>

                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-sm btn-outline-primary active">
                                        <input type="radio" name="options" id="type-c" autocomplete="off" checked="">
                                        CHUNITHM版
                                    </label>
                                    <label class="btn btn-sm btn-outline-primary">
                                        <input type="radio" name="options" id="type-o" autocomplete="off"> オンゲキ版
                                    </label>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-sm btn-outline-primary active">
                                        <input type="radio" name="options" id="disp-light" autocomplete="off" checked="">
                                        簡易表示
                                    </label>
                                    <label class="btn btn-sm btn-outline-primary">
                                        <input type="radio" name="options" id="disp-full" autocomplete="off"> 詳細表示
                                    </label>
                                </div>
                            </h3>
                        </div>

                        <div class="card-body">

                            <!-- 検索窓 -->
                            <div class="row justify-content-center">
                                <div class="col-12 col-md-10">

                                    <form id="ajax-search" action="{% url 'my_apps:const_search_page' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="input-group input-group-lg">

                                            <input name="query" type="text" class="form-control" id="query"
                                                placeholder="検索…" aria-label="search" aria-describedby="inputHelp"
                                                autocomplete="off">

                                            <div class="input-group-append">
                                                <button id="clear-button" class="btn btn-outline-secondary"
                                                    type="button"><i class="fas fa-backspace"></i>
                                            </div>

                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="is_use_name"
                                                value="option1" checked>
                                            <label class="form-check-label" for="is_use_name">曲名(表記)</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="is_use_reading"
                                                value="option2">
                                            <label class="form-check-label" for="is_use_reading">曲名(読み)</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="is_use_artists"
                                                value="option3">
                                            <label class="form-check-label" for="is_use_artists">アーティスト名</label>
                                        </div>

                                    </form>

                                </div>
                            </div>

                            <!-- 区切りhr -->
                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <hr />
                                </div>
                            </div>

                            <!-- 検索情報 -->
                            <div class="row justify-content-center">
                                <div class="col-1"></div>
                                <div class="col-auto">
                                    <p><span id="search_hit_text">検索結果 : {{song_data_len}} 件 </span>
                                        <span id="search-status" class="text-black-50"></span>
                                        <i id="loading_text" style="display: none;"
                                            class="ml-2 fas fa-spinner fa-pulse"></i>
                                    </p>
                                </div>
                                <div class="col">
                                    <button id="change_dif" class="float-right btn btn-outline-primary" type="button"><i
                                            class="mr-2 fas fa-sync-alt"></i>難易度
                                            <span class="color-expert ml-1 constdisp_expert_inline" style="display: none;">■</span>
                                            <span class="color-master ml-1 constdisp_master_inline">■</span>
                                            <span class="color-ultima ml-1 constdisp_ultima_inline" style="display: none;">■</span>
                                        </button>
                                </div>
                                <div class="col-1"></div>
                            </div>

                            <!-- 検索結果 -->
                            <div class="row justify-content-center search-result">
                                <div class="col-12 col-md-10">
                                    <div id="post-songs" class="list-group">

                                        {% include "const_search/result_info.html" %}

                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-center mt-2">
                                <div class="col-12 col-md-10">
                                    <details>
                                        <summary><span class="text-black-50">検索クエリを表示</span></summary>
                                        <p class="text-black-50"><span id="search-query-list-display">['']</span></p>
                                    </details>
                                </div>
                            </div>


                        </div>

                        <div class="card-footer">
                            <p class="mb-0 float-right fs-6 text-black-50">{{const_update_time}}</p>
                        </div>

                    </div>
                </div>
            </div>

            <!-- 権利表示 -->
            <div class="row">
                <div class="col">
                    <div class="card card-outline card-info collapsed-card">

                        <div class="card-header">
                            <h3 class="card-title">著作権表示</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                        class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="card-body rights-info" style="display: none;">
                            {% for r in rights %}
                            <p class="mb-0">{{r}}</p>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>


        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<script>
    var csrfmiddlewaretoken = "{{ csrf_token }}"
    var send_url = '{% url "my_apps:const_search_page" %}'
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'const_search/script.js' %}"></script>
{% endblock content %}
