<!-- メインのとこ -->
<a data-toggle="collapse" href="#c_{{song.id}}" class="list-group-item list-group-item-action song-group-item"
    aria-expanded="false" aria-controls="c_{{song.id}}">

    <div class="row">
        <!-- 曲名とアーティスト名 -->
        <div class="col">
            <h5 class="mb-1">{{song.song_name}}</h5>
            <span class="text-secondary">{{song.song_artist}}</span>
        </div>

        <!-- 定数 -->
        <div class="col-auto justify-content-end align-items-center border-right-expert constdisp_expert"
            style="display: none;">
            <h5 class="mb-0">{% if song.exp_const_nodata is False %}<span
                    class="font-weight-bold">{{song.exp_const}}</span>{% else %}<span class="text-black-50 h6">No
                    Data</span>{% endif %}</h5>
        </div>
        <div class="col-auto justify-content-end align-items-center border-right-master constdisp_master"
            style="display: flex;">
            <h5 class="mb-0">{% if song.mas_const_nodata is False %}<span
                    class="font-weight-bold">{{song.mas_const}}</span>{% else %}<span class="text-black-50 h6">No
                    Data</span>{% endif %}</h5>
        </div>
        {% if song.has_ultima is True %}
        <div class="col-auto justify-content-end align-items-center border-right-ultima constdisp_ultima"
            style="display: none;">
            <h5 class="mb-0">{% if song.ult_const_nodata is False %}<span
                    class="font-weight-bold">{{song.ult_const}}</span>{% else %}<span class="text-black-50 h6">No
                    Data</span>{% endif %}</h5>
        </div>
        {% else %}
        <div class="col-auto justify-content-end align-items-center border-right-master constdisp_ultima"
            style="display: none;">
            <h5 class="mb-0">{% if song.mas_const_nodata is False %}<span
                    class="font-weight-bold">{{song.mas_const}}</span>{% else %}<span class="text-black-50 h6">No
                    Data</span>{% endif %}</h5>
        </div>
        {% endif %}

    </div>
</a>
<!-- 折りたたみ内 -->
<a id="c_{{song.id}}" class="collapse list-group-item list-group-item-action song-group-item song-description">

    <div class="container">

        <div class="row">

            <!-- 情報表示 -->
            <div class="col order-first">

                <p class="mb-1 mt-1">ジャンル: {{song.song_genre}}</p>
                <p class="mb-1 mt-1">BPM: {% if song.song_bpm_nodata is False %}<span>{{song.song_bpm}}</span>{% else %}<span
                        class="text-black-50">No Data</span>{% endif %}</p>
                <p class="mb-1 mt-1">収録日: {{song.song_release}}</p>

            </div>

            <!-- 各定数表示 -->
            <div class="col order-last">

                <div class="row d-flex justify-content-end align-items-center border-right-expert pt-1 pb-1">
                    {% if song.expert_notes_nodata is False %}<p class="mb-1 mt-1 pr-2 border-right">{{song.exp_notes}} Notes
                    </p>{% endif %}
                    <h5 class="pl-2 mb-1 mt-1 mr-2">{% if song.exp_const_nodata is False %}<span
                            class="font-weight-bold">{{song.exp_const}}</span>{% else %}<span
                            class="text-black-50 h6">No Data</span>{% endif %}</h5>
                </div>
                <div class="row d-flex justify-content-end align-items-center border-right-master mt-1 mb-1">
                    {% if song.master_notes_nodata is False %}<p class="mb-1 mt-1 pr-2 border-right">{{song.mas_notes}} Notes
                    </p>{% endif %}
                    <h5 class="pl-2 mb-1 mt-1 mr-2">{% if song.mas_const_nodata is False %}<span
                            class="font-weight-bold">{{song.mas_const}}</span>{% else %}<span
                            class="text-black-50 h6">No Data</span>{% endif %}</h5>
                </div>
                {% if song.has_ultima is True %}
                <div class="row d-flex justify-content-end align-items-center border-right-ultima pt-1 pb-1">
                    {% if song.ultima_notes_nodata is False %}<p class="mb-1 mt-1 pr-2 border-right">{{song.ult_notes}} Notes
                    </p>{% endif %}
                    <h5 class="pl-2 mb-1 mt-1 mr-2">{% if song.ult_const_nodata is False %}<span
                            class="font-weight-bold">{{song.ult_const}}</span>{% else %}<span
                            class="text-black-50 h6">No Data</span>{% endif %}</h5>
                </div>
                {% endif %}
            </div>

        </div>


        <!-- ツールボタン -->
        <div class="container mt-2">
            <div class="row justify-content-end align-items-center">

                <div class="col-auto pr-0 pb-1">
                    <button id="actionbtn1_{{song.id}}" class="col-auto pl-4  btn btn-outline-secondary dropdown-toggle"
                        type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        {% if not song.fumen_id %} disabled {% endif %}>
                        譜面画像<span style="font-size:.7rem">(外部ページ)</span>
                    </button>
                    <div class="dropdown-menu">
                        <button id="fumenbtn-e_{{song.id}}"
                            class="col-sm-auto mr-1 pl-4 pr-4 btn btn-outline-secondary dropdown-item" type="button"
                            {% if song.fumen_id == 0 %} disabled {% endif %}>
                            <span class="color-expert mr-1">■</span>EXPERT<i class="ml-2 fas fa-external-link-alt"></i>
                        </button>
                        <button id="fumenbtn-m_{{song.id}}"
                            class="col-sm-auto mr-1 pl-4 pr-4 btn btn-outline-secondary dropdown-item" type="button"
                            {% if song.fumen_id == 0 %} disabled {% endif %}>
                            <span class="color-master mr-1">■</span>MASTER<i class="ml-2 fas fa-external-link-alt"></i>
                        </button>
                        {% if song.has_ultima is True %}
                        <button id="fumenbtn-u_{{song.id}}"
                            class="col-sm-auto mr-1 pl-4 pr-4 btn btn-outline-secondary dropdown-item" type="button"
                            {% if song.fumen_id == 0 or song.ultima_const == 0 %} disabled {% endif %}>
                            <span class="color-ultima mr-1">■</span>ULTIMA<i class="ml-2 fas fa-external-link-alt"></i>
                        </button>
                        {% endif %}
                        <script>
                            // var fumen_id_{{ song.id }} = Number("{{song.fumen_id}}");
                            document.getElementById("fumenbtn-e_{{song.id}}").onclick = function () {
                                window.open("https://www.sdvx.in/chunithm/" + (Number("{{song.fumen_id}}") / 1000).toFixed().padStart(2, "0") + "/" + Number("{{song.fumen_id}}").toFixed().padStart(5, "0") + "exp.htm");
                            }
                            document.getElementById("fumenbtn-m_{{song.id}}").onclick = function () {
                                window.open("https://www.sdvx.in/chunithm/" + (Number("{{song.fumen_id}}") / 1000).toFixed().padStart(2, "0") + "/" + Number("{{song.fumen_id}}").toFixed().padStart(5, "0") + "mst.htm");
                            }
                            document.getElementById("fumenbtn-u_{{song.id}}").onclick = function () {
                                window.open("https://www.sdvx.in/chunithm/ult/" + Number("{{song.fumen_id}}").toFixed().padStart(5, "0") + "ult.htm");
                            }

                        </script>
                    </div>
                </div>
                <div class="col-auto pr-0 pb-1">
                    <button id="actionbtn2_{{song.id}}" class="col-auto pl-4 btn btn-outline-secondary dropdown-toggle"
                        type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        各種ツール・リンク
                    </button>
                    <div class="dropdown-menu">
                        <button onclick="navigator.clipboard.writeText('{{song.song_name}}')" id="song_name_copy"
                            class="col-sm-auto mr-1 pl-4 pr-4 btn btn-outline-secondary dropdown-item" type="button">
                            曲名をコピー<i class="pl-2 far fa-copy"></i>
                        </button>
                        <button onclick="navigator.clipboard.writeText('{{song.song_name}} / {{song.song_artist}}')"
                            id="song_name_copy"
                            class="col-sm-auto mr-1 pl-4 pr-4 btn btn-outline-secondary dropdown-item" type="button">
                            曲名＆アーティスト名をコピー<i class="pl-2 far fa-copy"></i>
                        </button>
                        <div class="dropdown-divider"></div>
                        <button id="bpm_link_{{song.id}}"
                            class="col-sm-auto mr-1 pl-4 pr-4 btn btn-outline-secondary dropdown-item" type="button"
                            {% if song.song_bpm_nodata is True %} disabled {% endif %}>
                            BPMチェック
                        </button>
                        <button onclick='window.open("https://wikiwiki.jp/chunithmwiki/{{song.song_name}}")'
                            class="col-sm-auto mr-1 pl-4 pr-4 btn btn-outline-secondary dropdown-item" type="button">
                            攻略wiki <span style="font-size:.7rem">(外部ページ)</span>
                            <i class="ml-2 fas fa-external-link-alt"></i>
                        </button>
                        <button onclick='window.open("https://db.chunirec.net/search?q={{song.song_name}}")'
                            class="col-sm-auto mr-1 pl-4 pr-4 btn btn-outline-secondary dropdown-item" type="button">
                            統計情報 <span style="font-size:.7rem">(外部ページ)</span>
                            <i class="ml-2 fas fa-external-link-alt"></i>
                        </button>
                    </div>
                    <script>
                        document.getElementById("bpm_link_{{song.id}}").onclick = function () {
                            window.location.href = "{% url 'my_apps:bpm_checker_page' %}?bpm={{song.song_bpm}}";
                        };
                    </script>
                </div>

            </div>
        </div>


    </div>


</a>
