<!-- メインのとこ -->
<div href="#c_{{ song.id }}" class="list-group-item list-group-item-action song-group-item" aria-expanded="false"
    aria-controls="c_{{ song.id }}">
    <div class="row">
        <!-- 曲名とアーティスト名 -->
        <div class="col align-self-center">
            <h5 class="mb-1" id="song-name_{{song.id}}">{{ song.song_name }}</h5>
            <span class="text-secondary">{{ song.song_artist }}</span>
        </div>

        <!-- 定数 -->
        <div class="col-auto justify-content-end align-items-center">
            <div class="row mb-2">
                {% if song.only_lunatic is False %}
                <div class="col justify-content-end align-items-center border-right-expert constdisp_expert"
                    style="display: none;">
                    <h5 class="mb-0">
                        {% if song.exp_const_nodata is False %}
                        <span class="font-weight-bold">{{ song.exp_const }}</span>
                        {% else %}
                        <span class="text-black-50 h6">No Data</span>
                        {% endif %}
                    </h5>
                </div>
                <div class="col justify-content-end align-items-center border-right-master constdisp_master"
                    style="display: flex;">
                    <h5 class="mb-0">
                        {% if song.mas_const_nodata is False %}
                        <span class="font-weight-bold">{{ song.mas_const }}</span>
                        {% else %}
                        <span class="text-black-50 h6">No Data</span>
                        {% endif %}
                    </h5>
                </div>
                {% else %}
                <div class="col justify-content-end align-items-center border-right-lunatic constdisp_expert"
                    style="display: none;">
                    <h5 class="mb-0">
                        {% if song.lun_const_nodata is False %}
                        <span class="font-weight-bold">{{ song.lun_const }}</span>
                        {% else %}
                        <span class="text-black-50 h6">No Data</span>
                        {% endif %}
                    </h5>
                </div>
                <div class="col justify-content-end align-items-center border-right-lunatic constdisp_master"
                    style="display: flex;">
                    <h5 class="mb-0">
                        {% if song.lun_const_nodata is False %}
                        <span class="font-weight-bold">{{ song.lun_const }}</span>
                        {% else %}
                        <span class="text-black-50 h6">No Data</span>
                        {% endif %}
                    </h5>
                </div>
                {% endif %}
                {% if song.has_lunatic is True %}
                <div class="col justify-content-end align-items-center border-right-lunatic constdisp_lunatic"
                    style="display: none;">
                    <h5 class="mb-0">
                        {% if song.lun_const_nodata is False %}
                        <span class="font-weight-bold">{{ song.lun_const }}</span>
                        {% else %}
                        <span class="text-black-50 h6">No Data</span>
                        {% endif %}
                    </h5>
                </div>
                {% else %}
                <div class="col justify-content-end align-items-center border-right-master constdisp_lunatic"
                    style="display: none;">
                    <h5 class="mb-0">
                        {% if song.mas_const_nodata is False %}
                        <span class="font-weight-bold">{{ song.mas_const }}</span>
                        {% else %}
                        <span class="text-black-50 h6">No Data</span>
                        {% endif %}
                    </h5>
                </div>
                {% endif %}
            </div>
            <div class="row">
                <!-- 譜面画像ボタン -->
                {% if song.only_lunatic is False %}
                <div class="col-auto justify-content-end align-self-center pr-0 constdisp_expert"
                    style="display: none;">
                    <button id="fumenbtn-e_{{song.id}}" type="button" class="btn btn-outline-secondary m-0"
                        {% if song.song_fumen_id  %}{% else %} disabled {% endif %}>
                        譜面画像 <i class="ml-2 fas fa-external-link-alt"></i></button>
                    </button>
                </div>
                <div class="col-auto justify-content-end align-self-center pr-0 constdisp_master"
                    style="display: flex;">
                    <button id="fumenbtn-m_{{song.id}}" type="button" class="btn btn-outline-secondary m-0"
                        {% if song.song_fumen_id  %}{% else %} disabled {% endif %}>
                        譜面画像 <i class="ml-2 fas fa-external-link-alt"></i></button>
                    </button>
                </div>
                {% else %}
                <div class="col-auto justify-content-end align-self-center pr-0 constdisp_expert"
                    style="display: none;">
                    <button id="fumenbtn-l_{{song.id}}" type="button" class="btn btn-outline-secondary m-0"
                        {% if song.song_fumen_id  %}{% else %} disabled {% endif %}>
                        譜面画像 <i class="ml-2 fas fa-external-link-alt"></i></button>
                    </button>
                </div>
                <div class="col-auto justify-content-end align-self-center pr-0 constdisp_master"
                    style="display: flex;">
                    <button id="fumenbtn-l_{{song.id}}" type="button" class="btn btn-outline-secondary m-0"
                        {% if song.song_fumen_id  %}{% else %} disabled {% endif %}>
                        譜面画像 <i class="ml-2 fas fa-external-link-alt"></i></button>
                    </button>
                </div>
                {% endif %}
                {% if song.has_lunatic is True %}
                <div class="col-auto justify-content-end align-self-center pr-0 constdisp_lunatic"
                    style="display: none;">
                    <button id="fumenbtn-l_{{song.id}}" type="button" class="btn btn-outline-secondary m-0"
                        {% if song.song_fumen_id  %}{% else %} disabled {% endif %}>
                        譜面画像 <i class="ml-2 fas fa-external-link-alt"></i></button>
                    </button>
                </div>
                {% else %}
                <div class="col-auto justify-content-end align-self-center pr-0 constdisp_lunatic" style="display: none;">
                    <button id="fumenbtn-m_{{song.id}}" type="button" class="btn btn-outline-secondary m-0"
                        {% if song.song_fumen_id  %}{% else %} disabled {% endif %}>
                        譜面画像 <i class="ml-2 fas fa-external-link-alt"></i></button>
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        document.getElementById("fumenbtn-e_{{song.id}}").onclick = function () {
            window.open("https://www.sdvx.in/ongeki/" + (Number("{{song.song_fumen_id}}") / 1000).toFixed().padStart(2, "0") + "/" + Number("{{song.song_fumen_id}}").toFixed().padStart(5, "0") + "exp.htm");
        }
        document.getElementById("fumenbtn-m_{{song.id}}").onclick = function () {
            window.open("https://www.sdvx.in/ongeki/" + (Number("{{song.song_fumen_id}}") / 1000).toFixed().padStart(2, "0") + "/" + Number("{{song.song_fumen_id}}").toFixed().padStart(5, "0") + "mst.htm");
        }
        document.getElementById("fumenbtn-l_{{song.id}}").onclick = function () {
            window.open("https://www.sdvx.in/ongeki/luna/" + Number("{{song.song_fumen_id}}").toFixed().padStart(5, "0") + "luna.htm");
        }
    </script>
</div>
