{% extends '../base/base.html' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid pl-0">
            <div class="row mb-2">
                <div class="col">
                    <h1 class="m-0">ユメステOCR(β版)</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            {% if is_beta %}
            {% include "../common/info_alert.html" %}
            {% endif %}

            <!-- ここにいろいろ書く -->
            <div class="row">
                <div class="col">
                    <div class="card card-primary card-outline">

                        <div class="card-header">
                            <h3 class="card-title">ユメステOCR(β版)</h3>
                        </div>

                        <div class="card-body">

                            <div class="row justify-content-center">
                                <div class="col-12 col-md-10">
                                    {% if message %}
                                        <div class="alert alert-info">{{ message }}</div>
                                    {% endif %}
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit" class="btn btn-primary">アップロード</button>
                                    </form>
                                    {% if video_url %}
                                        <div class="mt-3">
                                            <a href="{{ video_url }}" target="_blank" class="btn btn-success">アップロードした動画を確認</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                        </div>

                        <div class="card-footer">
                            <p class="mb-0 float-right fs-6 text-black-50">なにかしら書く</p>
                        </div>

                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

{% endblock content %}
