{% extends './base/base.html' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid pl-0">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Incomplete Page
                    </h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            {% include "./common/warning_alert.html" %}
            {% if is_beta %}
            {% include "./common/info_alert.html" %}
            {% endif %}

            <!-- ここにいろいろ書く -->


        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

{% endblock content %}
