{% extends './base/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'top/style.css' %}">
<!-- Content Wrapper. Contains page content -->
<div class="container">
    <div class="content-header">
        <!-- Content Header (Page header) -->
        <div class="container-fluid pl-0">
            <div class="row mb-2">
                <div class="col">
                    <h1 class="m-0">TopPage</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            {% if is_beta %}
            {% include "./common/info_alert.html" %}
            {% endif %}

            <!-- ここにいろいろ書く -->
            <h4>作成ツール一覧</h4>
            <hr>
            <div class="row mb-3">

                <div class="col-xl-4 col-md-6 col-12">
                    <a href="{% url 'my_apps:const_search_page' %}" class="small-box bg-light app-box">
                        <div class="inner p-4">
                            <h4 class="app-name font-weight-bold">クイック定数検索</h4>
                            <p class="app-desc">CHUNITHM・オンゲキの譜面定数をささっと検索できます。</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-search"></i>
                        </div>
                    </a>
                </div>


                <div class="col-xl-4 col-md-6 col-12">
                    <a href="{% url 'my_apps:ongeki_op_page' %}" class="small-box bg-light app-box">
                        <div class="inner p-4">
                            <h4 class="app-name font-weight-bold">オンゲキ版OVERPOWER</h4>
                            <p class="app-desc">全MASTER譜面対象・理論値まで伸びる実力指標です。</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-percent"></i>
                        </div>
                    </a>
                </div>

                <div class="col-xl-4 col-md-6 col-12">
                    <a href="{% url 'my_apps:ongeki_rating_act2_page' %}" class="small-box bg-light app-box">
                        <div class="inner p-4">
                            <h4 class="app-name font-weight-bold">オンゲキAct.2基準レート</h4>
                            <p class="app-desc">brightMEMORY Act.1以降の楽曲を新曲としたレートを計算します。</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-table"></i>
                        </div>
                    </a>
                </div>

                <div class="col-xl-4 col-md-6 col-12">
                    <a href="{% url 'my_apps:ongeki_rating_all_page' %}" class="small-box bg-light app-box">
                        <div class="inner p-4">
                            <h4 class="app-name font-weight-bold">オンゲキ(新曲枠なし)</h4>
                            <p class="app-desc">新曲含めたベスト枠30曲の平均レートを計算します。</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-table"></i>
                        </div>
                    </a>
                </div>

                <div class="col-xl-4 col-md-6 col-12">
                    <a href="{% url 'my_apps:bpm_checker_page' %}" class="small-box bg-light app-box">
                        <div class="inner p-4">
                            <h4 class="app-name font-weight-bold">BPMチェッカー</h4>
                            <p class="app-desc">BPMから3600族・擦り・全押し連打に関する情報を表示します。</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-music"></i>
                        </div>
                    </a>
                </div>

                <!-- <div class="col-xl-4 col-md-6 col-12">
                    <a href="{% url 'my_apps:incomplete_page' %}" class="small-box bg-light app-box">
                        <div class="inner p-4">
                            <h4 class="app-name font-weight-bold">定数別OP表示</h4>
                            <p class="app-desc">CHUNITHMの譜面定数ごとにOPや埋まり具合を表示します。</p>
                        </div>
                        <div class="icon">
                            <i class="far fa-question-circle"></i>
                        </div>
                    </a>
                </div> -->

                <!-- <div class="col-xl-4 col-md-6 col-12">
                    <a href="{% url 'my_apps:incomplete_page' %}" class="small-box bg-light app-box">
                        <div class="inner p-4">
                            <h4 class="app-name font-weight-bold">これって何落ちAJ?</h4>
                            <p class="app-desc">AJ時のスコアから何落ちAJかを逆算します。</p>
                        </div>
                        <div class="icon">
                            <i class="far fa-question-circle"></i>
                        </div>
                    </a>
                </div> -->

                <div class="col-xl-4 col-md-6 col-12">
                    <a href="{% url 'my_apps:fullbell_page' %}" class="small-box bg-light app-box">
                        <div class="inner p-4">
                            <h4 class="app-name font-weight-bold">FULLBELLだったら？</h4>
                            <p class="app-desc">未FB時の情報から、FBだった場合のスコアを計算します。</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-bell"></i>
                        </div>
                    </a>
                </div>


                <!-- <div class="col-xl-4 col-md-6 col-12">
                    <a href="{% url 'my_apps:incomplete_page' %}" class="small-box bg-light app-box">
                        <div class="inner p-4">
                            <h4 class="app-name font-weight-bold">BS/OD計算機</h4>
                            <p class="app-desc">カードのスキルとノーツ数などからBS/ODを計算します。</p>
                        </div>
                        <div class="icon">
                            <i class="far fa-question-circle"></i>
                        </div>
                    </a>
                </div> -->

                <!-- <div class="col-xl-4 col-md-6 col-12">
                    <a href="{% url 'my_apps:incomplete_page' %}" class="small-box bg-light app-box">
                        <div class="inner p-4">
                            <h4 class="app-name font-weight-bold">緑数字計算機</h4>
                            <p class="app-desc">緑数字と白数字、BPMとHS値を使った計算ができます。</p>
                        </div>
                        <div class="icon">
                            <i class="far fa-question-circle"></i>
                        </div>
                    </a>
                </div> -->

                <div class="col-xl-4 col-md-6 col-12">
                    <a href="{% url 'my_apps:random_tools_page' %}" class="small-box bg-light app-box">
                        <div class="inner p-4">
                            <h4 class="app-name font-weight-bold">雑多なツール集</h4>
                            <p class="app-desc">いろんなツールを雑に置く場所です。</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-tools"></i>
                        </div>
                    </a>
                </div>

            </div>

            <h4>資料集</h4>
            <hr>
            <div class="row mb-3">

                <div class="col-xl-4 col-md-6 col-12">
                    <a href="{% url 'my_apps:sega_nenpyo_page' %}" class="small-box bg-light app-box">
                        <div class="inner p-4">
                            <h4 class="app-name font-weight-bold">SEGA音ゲー年表</h4>
                            <p class="app-desc">ゲキチュウマイの稼働日・バージョンアップ日などをまとめたページです。</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </a>
                </div>

                <div class="col-xl-4 col-md-6 col-12">
                    <a href="{% url 'my_apps:ongeki_genre_page' %}" class="small-box bg-light app-box">
                        <div class="inner p-4">
                            <h4 class="app-name font-weight-bold">オンゲキジャンル名図鑑</h4>
                            <p class="app-desc">オンゲキの楽曲たちをポップン選曲画面風に見よう(？)</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-book-open"></i>
                        </div>
                    </a>
                </div>

            </div>

            <h4>その他のページ</h4>
            <hr>
            <div class="row">

                <div class="col-xl-4 col-md-6 col-12">
                    <a href="{% url 'my_apps:about_page' %}" class="small-box bg-light app-box">
                        <div class="inner p-4">
                            <h4 class="app-name font-weight-bold">私について</h4>
                            <p class="app-desc">△Natua♪▽についての情報が書かれています。誰得？</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-address-card"></i>
                        </div>
                    </a>
                </div>

                <!--
                <div class="col-xl-4 col-md-6 col-12">
                    <a href="{% url 'my_apps:incomplete_page' %}" class="small-box bg-light app-box">
                        <div class="inner p-4">
                            <h4 class="app-name font-weight-bold">アプリ名</h4>
                            <p class="app-desc">説明</p>
                        </div>
                        <div class="icon">
                            <i class="far fa-question-circle"></i>
                        </div>
                    </a>
                </div> -->

            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
{% endblock content %}
